{% extends 'base.html' %}
{% block 'content' %}
<div class="container">
    <div class="container">
        <div class="col-12 col-md-6 offset-0 offset-md-3 mt-4 mb-4 pt-4" id="Login">
            <div class="card2">
                <div class="card-body text-center">
                    <h3 class="text-center pt-4">
                        Iniciar sesión
                    </h3>
        
                    <div>
                        <form method="post" action="{% url 'login' %}">
                            {% csrf_token %}
                            {% if form.errors %} 
                            <p>Su nombre de usuario y contraseña no coinciden. Inténtalo de nuevo.</p>
                            {% endif %}
                            
                            {% if next %}
                            {% if user.is_authenticated %}
                            <p>Su cuenta no tiene acceso a esta página.
                                 Para continuar, inicie sesión con una cuenta que tenga acceso
                            </p>
                            {% else %}
                                    <P class="text-center fw-bold">Porfavor Registrate para ver esta pagina.</p>
                            {% endif %}
                            {%endif%}
                            
                            <div class="mb-3 text-center fw-bold">
                                <label for="{{ form.username.id_for_label}}" class="form-label">
                                    Nombre de Usuario
                                </label>
                                <div>
                                    {{ form.username }}
                                </div>
                            </div>
        
                            <div class="mb-3 text-center fw-bold">
                                <label for="{{ form.password.id_for_label}}" class="form-label">
                                    Contraseña
                                </label>
                                <div>
                                    {{ form.password }}
                                </div>
                            </div>
        
                            <div class="text-center col-12 pb-4">
                                <button type="submit" class="btn btn-primary">Iniciar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
{% endblock  %}