{% load static %}
<div class="container">
    <div class="row">
        <div class="col mb-2"> 
            <div class="h-100 p-5 text-white text-center rounded-3 footer">
                <h3>Siguenos en nuestras redes sociales</h3>
            
                <div class="footer-redes col-12 mb-2 text-white">
                    <ul>
                        <li><a href="https://twitter.com/oniyflans" target="_blank">
                            <i class="fab fa-twitter"></i>
                            </a>
                        </li>
        
                        <li><a href="https://www.facebook.com/OnlyFlans-103497611492336/" target="_blank">
                            <i class="fab fa-facebook"></i>
                            </a>
                        </li>
    
                        <li><a href="https://www.instagram.com/onlyflans_official/" target="_blank">
                            <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <div class="bajada"> 
        <hr class="opacity-100 w-25 mx-auto">
    <div class="col text-center fw-bold mb-4">
        Creado por Gerardo Ortiz para Edutecno - 2023
    </div>
</div>
