<div style="" class="container">

    <div class="row">
        <div class="col mb-2"> 
            <div class="h-100 p-5 text-white text-center rounded-3" id="Footer">
                <h3>Siguenos en nuestras redes sociales</h3>
            
                <div class="col mb-2 text-white">

                    <a href="https://twitter.com/oniyflans" target="_blank">
                    <i class="fab fa-twitter-square fa-3x mx-4" style="color: #000000;"></i>
                    </a>
    
                    <a href="https://www.facebook.com/OnlyFlans-103497611492336/" target="_blank">
                    <i class="fab fa-facebook-square fa-3x mx-4"style="color: #000000;"></i>
                    </a>

                    <a href="https://www.instagram.com/onlyflans_official/" target="_blank">
                        <i class="fab fa-instagram-square fa-3x mx-4" style="color: #000000;"></i>
                        </a>
                </div>
            </div>
        </div>

    </div>

    <div class> 
        <hr class="opacity-100 w-25 mx-auto">
    <div class="col text-center fw-bold mb-4">
        Creado por Gerardo Ortiz para Edutecno - 2022
    </div>
</div>