{% extends 'base.html' %}

{% block 'content' %}
<div class="container">
    

    <div class="row"> 
        <div class="col mb-2"> 
            <div class="h-100 p-5 text-white bg-dark rounded-3" id="productos">
                <h1>
                    Nuestros productos
                </h1>
                <h4>
                    OnlyFlans nace en el año 2021 buscando entregar flanes de calidad.
                </h4>
                <a href="{% url 'acerca' %}" class="btn btn-outline-light">
                    Conoce más
                </a>
            </div>
        </div>
    </div>





    <div class="row p-3 m-2 justify-content-between">
        {% for flan in public_flans %}
        <div class="col-6 col-sm-12 col-md-3 col-lg-3">
            <div class="card" style="height: 100%;">
                <img src="{{ flan.image_url }}" class="card-img-top" height="250">
                <div class="card-body p-3 border-0 pt-6">
                    <h5 class="card-title text-center">
                        {{ flan.name }}
                    </h5>
                    <p class="card-text-center">
                        {{ flan.description }}
                    </p>
                    <hr class=""/>
                    <div class="mx-auto h5 fw-bold" style="color:#7f00b2" id="precio" >
                        {{ flan.precio }}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock  %}
