<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-verde">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mb-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" id="menu" aria-current="page" href="{% url 'indice' %}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="menu" href="{% url 'bienvenido' %}">Bienvenido</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="menu" href="{% url 'acerca' %}">Acerca</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="menu" href="{% url 'contacto' %}">Contacto</a>
                    </li>
                    {% if not user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link btn btn-secondary text-white" id="sesion" href="{% url 'login' %}">Iniciar sesión</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-secondary text-white" id="sesion" href="{% url 'registro' %}">Registrar</a>
                    </li>
                    {% endif %}

                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link btn btn-secondary text-white ms-2" id="sesion" href="{% url 'logout' %}">Cerrar sesión</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

</div>